body {
    font-family: Arial;
    color: #333;
    font-size: 0.95em;
}

.myprofil-head {
    background: #F5F5F5;
    border-spacing: initial;
    margin: 15px;
    word-break: break-word;
    table-layout: auto;
    line-height: 1.8em;
    border-radius: 4px;
	color: #000000;
    padding: 20px 40px;
    width: 900px;
    border: 5px solid;
	border-color: #00CED1;
}

.demo-table {
    background: #ffffff;
    border-spacing: initial;
    margin: 15px;
    word-break: break-word;
    table-layout: auto;
    line-height: 1.8em;
    border-radius: 4px;
	color: #000000;
    padding: 20px 40px;
    width: 600px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.label-ts {
    background: #ffffff;
    border-spacing: initial;
    margin: 5px;
    word-break: break-word;
    table-layout: auto;
    line-height: 1.8em;
    border-radius: 4px;
	color: #000000;
    padding: 20px 40px;
	text-align:center;
    width: 900px ;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.content {
    background: #ffffff;
    border-spacing: initial;
    margin: 15px;
    word-break: break-word;
    table-layout: auto;
    line-height: 1.8em;
    border-radius: 4px;
	color: #000000;
    padding: 20px 40px;
    width: 1000px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #ffffff; /* Blue */
  }
}

.scroll {
	background: #ffffff;
    border-spacing: initial;
    margin: 0px;
    word-break: break-word;
    table-layout: auto;
    line-height: 1.8em;
    border-radius: 4px;
	color: #000000;
    padding: 10px 10px;
    width: 100%;
	font-weight:bold;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

table, th, td {
	border: 0px solid black;
}

th, td {
	padding: 5px;
	text-align: left;
}
